{% extends 'Member/base.html'%}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-3">
            <h3 class="text-center"> Active JIRA tickets</h3>
            <table class="table table-striped table-bordered table-hover" style="max-height:500px;">
              <thead>
                <tr>
                    <th>ID</th>
                    <th>Assignment</th>
                    <th>Status</th>
                    <th>View</th>
                </tr>
              </thead>
              <tbody>
               {% for jira in jira_tickets %}
                <tr>
                  <td>
                        {{jira.code}}
                  </td>
                  <td>
                      <div class="sub header">{{jira.title}}</div>
                  </td>
                  <td>
                    {{jira.status.name}}
                  </td>
                  <td>
                    <a href="/jira/{{jira.id}}/view" class="btn btn-primary">View</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
        <div class="col-md-6">
              <div class="card">
                  <div class="card-header">
                    <h4 class="card-title" >JIRA Ticket <param id="jira_id" value="{{jira.id}}">{{jira.code}}</param></h4>
                  </div>
                  <div class="card-body">
                        <div class="col-md-12">
                            <a class="btn btn-primary" href="/jira/{{jira.id}}/edit">Edit</a>
                            <a class="btn btn-warning" href="/jira/{{jira.id}}/link">Link To</a>
                            <a type="button" class="btn btn-secondary" href="#comment">Comment</a>
                            <select class="btn " id="assignee">
                                <option value="{{jira.assignee.id}}">Assigned To:{{jira.assignee.email}}</option>
                                {% for a in assign_to %}
                                  <option value="{{a.id}}"
                                          {% if jira.assignee.id == a.id %} selected {% endif %} >Assign To:{{a.email}}
                                  </option>
                                {% endfor %}
                            </select>
                            <select class="btn pull-right
                            {% if jira.status.tag == 'TODO' %} btn-info
                            {% elif jira.status.tag == 'IN_PROGRESS' %} btn-primary
                            {% elif jira.status.tag == 'WAITING' %} btn-warning
                            {% elif jira.status.tag == 'BLOCKER' %} btn-danger
                            {% elif jira.status.tag == 'DONE' %} btn-success
                            {% endif %} " id="status">
                                {% for status in all_status %}
                                  <option value="{{status.tag}}" {% if status.tag == jira.status.tag %} selected  {% endif %}>{{status.tag}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <hr/>
                               <h5 class="card-title">{{jira.code}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{jira.title}}</h6>
                                <p class="card-text">{{jira.description}}</p>
                        <hr/>
                        <hr/>
                               <h5 class="card-title">Linked To:</h5>
                                   {% for link in jira.links.all %}
                                       <li><a class="btn card-link" href="/jira/{{jira.id}}/view">{{jira.type}}|{{jira.title}}|{{jira.code}}</a></li>
                                   {% endfor %}
                        <hr/>

                                <h6>Attachments:</h6>
                                   {% for file in jira.files.all %}
                                        <li><a class="btn card-link" href="{{file.file.url}}">{{file.name}}</a></li>
                                   {% endfor %}
                        </div>
                        <div class="card-footer">
                           {% for comment in jira.comments.all %}
                           <div class="bg-white p-2">
                                <div class="d-flex flex-row user-info"><img class="rounded-circle" src="{{comment.user.image.url}}" width="40">
                                    <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">{{comment.user.name}}</span><span class="date text-black-50">{{comment.updated_at}}</span></div>
                                </div>
                                <div class="mt-2">
                                    <p class="comment-text">{{comment.text}}</p>
                                    <h6>Attachments:</h6>
                                       {% for file in comment.files.all %}
                                            <a class="card-link" href="{{file.file.url}}">{{file.name}}</a>
                                       {% endfor %}
                                </div>
                            </div>
                           {% endfor %}
                            <h5> <img class="rounded-circle" src="{{member.image.url}}" width="40"/> Comment:</h5>
                           <form method="post" enctype="multipart/form-data" id="comment" >
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next }}">
                                {{ comment_form |crispy }}
                                <div class="clsbox-1" runat="server"  >
                                    <div class="dropzone clsbox" id="mydropzone"></div>
                                </div>
                                <div class="form-group mt-5">
                                    <button type="submit" class="btn btn-primary btn-block">Create</button>
                                </div>
                            </form>
                        </div>
              </div>
        </div>
        <div class="col-md-3">
              <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">JIRA Ticket {{jira.code}}</h4>
                  </div>
                  <div class="card-body">

                  <table class="table table-striped table-bordered" style="max-height:500px;">
                  <tbody>
                    <tr>
                        <td>Type</td>
                        <td><div class="sub header">{{jira.type}}</div></td>
                    </tr>
                    <tr>
                        <td>Assignee</td>
                        <td><div class="sub header">{{jira.assignee.email}}</div></td>
                    </tr>
                    <tr>
                        <td>Reporter</td>
                        <td><div class="sub header">{{jira.reporter.email}}</div></td>
                    </tr>
                    <tr>
                        <td>Course</td>
                        <td><div class="sub header">{{jira.course}}</div></td>
                    </tr>
                    <tr>
                        <td>Likes</td>
                        <td><div class="sub header">{{jira.likes}}</div></td>
                    </tr>
                    <tr>
                        <td>Due At</td>
                        <td><div class="sub header">{{jira.due_at}}</div></td>
                    </tr>

                  </tbody>
                </table>
                  </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}
